---
import AvatarTestimonialSectionLarge from "@/components/ui/avatars/AvatarTestimonialSectionLarge.astro";
import CertificationCard from "@/components/ui/cards/CertificationCard.astro";
import type { ImageMetadata } from "astro";

const { title, subTitle, testimonialsData } = Astro.props;

interface Props {
  title: string;
  subTitle?: string;
  testimonialsData: Array<SliderItem>;
}
type SliderItem = {
  type: "certification" | "testimonial";
  title: string;
  description: string;
  author?: string;
  role?: string;
  avatar?: string;
  icon?: ImageMetadata;
};
---

<section
  class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
>
  <div class="mx-auto mb-10 w-full space-y-2 text-center sm:w-1/2 lg:w-2/5">
    <h2
      class="text-balance text-2xl font-bold leading-tight text-neutral-800 dark:text-neutral-200 sm:text-3xl"
    >
      {title}
    </h2>
    {
      subTitle && (
        <p class="text-pretty text-sm leading-tight text-neutral-600 dark:text-neutral-400 sm:text-base">
          {subTitle}
        </p>
      )
    }
  </div>

  <div>
    <div
      class="swiper h-[400px] w-[310px] sm:h-[320px] sm:w-[560px] lg:h-[320px] lg:w-[780px]"
    >
      <div class="swiper-wrapper">
        {
          testimonialsData.map((item) => (
            <div class="swiper-slide flex items-center justify-center px-2 py-4">
              {item.type === "testimonial" ? (
                <AvatarTestimonialSectionLarge
                  author={item.author ?? "Famdesc User"}
                  title={item.title}
                  role={item.role ?? "Famdesc User"}
                  content={item.description}
                  alt={`Avatar of ${item.author ?? "user testimonial"}`}
                  src={item.avatar ?? "/images/logos/amazon.svg"}
                />
              ) : (
                <div class="flex w-full items-center justify-center py-8 sm:py-10">
                  <CertificationCard
                    title={item.title}
                    description={item.description}
                    icon={item.icon}
                  />
                </div>
              )}
            </div>
          ))
        }
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>

<head>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.css"
  />
  <script
    is:inline
    src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script is:inline>
    new Swiper(".swiper", {
      loop: true,

      // If we need pagination
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      autoplay: {
        delay: 5000,
        disableOnInteraction: true,
      },
      breakpoints: {
        320: {
          slidesPerView: 1,
          spaceBetween: 20,
        },
      },
    });
  </script>
</head>

<style>
  .swiper-pagination {
    bottom: 0px !important;
  }
</style>
