---
// Importer les composants nécessaires
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import heroImage from "@images/hero-image.avif";
import faqs from "@data/fr/faqs.json";
import features from "@data/fr/features.json";
import robustFeatures from "@images/robust-features.avif";
import tools from "@images/innovative-tools.avif";
import dashboard from "@images/dashboard-image.avif";
import ClientsSliderSection from "@/components/sections/landing/ClientsSliderSection.astro";
import TestimonialData from "@utils/testimonialsData";
import { famdescPromo } from "@/videos/videosLink";

const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];
---

<MainLayout lang="fr">
  <AnnouncementBanner
    title="Fièrement Open Source"
    btnId="dismiss-button"
    btnTitle="Explorez Famdesc sur GitHub"
    url="https://github.com/nardis9501/Famdesc-landing-blog"
  />

  <HeroSection
    title=`Construire, Partager, Préserver:
    <span
        class="text-salmon-500 dark:text-salmon-400">Famdesc</span>`
    subTitle="Votre Havre Numérique pour les Moments en Famille"
    primaryBtn="Faire un Don"
    openInNewTab={true}
    primaryBtnURL="https://www.gofundme.com/famdesc"
    secondaryBtn="Contactez Notre Équipe"
    secondaryBtnURL="/contact"
    withReview={true}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    reviews=`Basé sur plus de <span class="font-bold">12.8k</span> avis`
    src={heroImage}
    alt="Famille multigénérationnelle réunie et souriante"
  />

  <ClientsSliderSection
    title="Approuvé par les Experts du Secteur"
    subTitle="Rejoignez les visionnaires qui font confiance à Famdesc pour révolutionner leurs connexions sociales."
    testimonialsData={TestimonialData.frTestimonialData}
  />

  <FeaturesGeneral
    title="Découvrez Famdesc: Notre Vision et Nos Valeurs Fondamentales."
    subTitle="Chez Famdesc, nous abordons les défis uniques dans le domaine de la connectivité sociale. Des fonctionnalités innovantes aux services d'experts, nous sommes dédiés à vous aider à créer des connexions significatives et à améliorer votre expérience en ligne."
    src={famdescPromo}
    alt="Famdesc peut vous aider à vous connecter avec vos proches tout en gardant vos données sécurisées. Rejoignez-nous et commencez à partager dès aujourd'hui !"
    features={features}
  />

  <FeaturesNavs
    title=`Personnalisez <span class="text-salmon-500 dark:text-salmon-400">Famdesc</span> pour Répondre Parfaitement à Vos Besoins de Réseautage Social.`
    tabs={[
      {
        heading: "Outils Innovants",
        content:
          "Renforcez vos interactions sociales avec les outils innovants de Famdesc. De la partage de contenu fluide aux contrôles de confidentialité avancés, profitez d'une expérience de réseau social sophistiquée qui vous laisse le contrôle.",
        svg: "tools",
        src: tools,
        alt: "Famille utilisant des outils de réseaux sociaux innovants sur Famdesc, partageant du contenu sans effort.",
        first: true,
      },
      {
        heading: "Tableaux de Bord Intuitifs",
        content:
          "Naviguez facilement avec les tableaux de bord intuitifs de Famdesc. Gérez vos connexions et interactions sans effort grâce à des interfaces conviviales conçues pour un réseautage social rapide et efficace.",
        svg: "dashboard",
        src: dashboard,
        alt: "Une capture d'écran ou une représentation graphique du tableau de bord intuitif",
        second: true,
      },
      {
        heading: "Fonctionnalités Robustes",
        content:
          "Minimisez la complexité, maximisez l'engagement. Les fonctionnalités robustes de Famdesc simplifient vos interactions sociales, offrant une expérience exceptionnelle et facile à utiliser.",
        svg: "features",
        src: robustFeatures,
        alt: "Image reflétant des interactions sociales solides",
      },
    ]}
  />

  <TestimonialsSection
    title="Connectez-vous et Épanouissez-vous avec Famdesc"
    subTitle="Chez Famdesc, nous redéfinissons la manière dont vous vous connectez avec vos proches. Expérimentez des interactions familiales fluides avec notre plateforme intuitive conçue pour renforcer les liens et enrichir les vies."
    ;
    testimonials={[
      {
        content:
          "Famdesc améliore significativement nos connexions familiales. L'installation a été simple, et la possibilité de partager des moments précieux instantanément a transformé nos interactions familiales. Une plateforme vraiment remarquable pour favoriser des connexions réelles et significatives !",
        author: "Yuri",
        role: "Ingénieur Logiciel | ONLIVE.SITE.",
        avatarSrc:
          "https://raw.githubusercontent.com/nardis9501/avatar/main/yuri.avif",
      },
    ]}
    statistics={[
      {
        count: "50k+",
        description:
          "utilisateurs actifs — familles, généalogistes et historiens communautaires construisant et préservant leurs héritages.",
      },
      {
        count: "3x",
        description:
          "augmentation des connexions significatives grâce à un design centré sur l'utilisateur et des outils de partage améliorés.",
      },
      {
        count: "20%",
        description:
          "augmentation de l'efficacité dans la gestion des arbres généalogiques et le partage de souvenirs, grâce à notre interface simplifiée et conviviale.",
      },
      {
        count: "4.8/5",
        description:
          "note moyenne de satisfaction des utilisateurs, reflétant notre engagement envers un contenu de haute qualité et une expérience utilisateur exceptionnelle.",
      },
    ]}
  />

  <FAQ title="Questions Fréquemment Posées" faqs={faqs} />

  <HeroSectionAlt
    title="Construisons Ensemble"
    subTitle="Famdesc est un modèle open-source, méticuleusement conçu avec les frameworks Astro, Tailwind CSS, et Preline UI."
    url="https://github.com/nardis9501/Famdesc-landing-blog"
  />
</MainLayout>
