---
import Image from "astro/components/Image.astro";

const { src, alt, author, role, content } = Astro.props;

interface Props {
  src: string;
  alt: string;
  author: string;
  role: string;
  content: string;
}
---

<div class="flex flex-col items-center justify-center">
  <Image
    src={src}
    alt={alt}
    class="size-16 rounded-full md:h-24 md:w-24"
    draggable={"false"}
    loading={"eager"}
    inferSize
    format={"webp"}
  />
  <div class="flex flex-col items-center justify-center">
    <div class="font-bold text-neutral-800 dark:text-neutral-200">
      {author}
    </div>
    <div class="text-xs text-neutral-500">{role}</div>

    <p class="mt-4 text-xl italic text-neutral-800 dark:text-neutral-200">
      {content}
    </p>
  </div>
</div>
